[submodule "nets/FSRCNN-TensorFlow"]
	path = nets/FSRCNN-TensorFlow
	url = https://github.com/guillermoruizalv/FSRCNN-TensorFlow
[submodule "nets/IRCNN"]
	path = nets/IRCNN
	url = https://github.com/guillermoruizalv/IRCNN
[submodule "nets/IRCNN_Keras"]
	path = nets/IRCNN_Keras
	url = git@github.com:guillermoruizalv/IRCNN_Keras.git
	branch = master
[submodule "nets/FSRCNN_Keras"]
	path = nets/FSRCNN_Keras
	url = git@github.com:guillermoruizalv/FSRCNN_Keras.git
	branch = master
