[submodule "nets/FSRCNN-TensorFlow"]
	path = nets/FSRCNN-TensorFlow
	url = https://github.com/guillermoruizalv/FSRCNN-TensorFlow
[submodule "nets/IRCNN"]
	path = nets/IRCNN
	url = https://github.com/guillermoruizalv/IRCNN
[submodule "nets/IRCNN_Keras"]
	path = nets/IRCNN_Keras
	url = https://github.com/guillermoruizalv/IRCNN_Keras
	branch = master
[submodule "nets/CNN_Keras"]
	path = nets/CNN_Keras
	url = git@github.com:guillermoruizalv/CNN_Keras.git
	branch = master
